#
/.vs/atlas-printf/FileContentIndex
/.vs/atlas-printf/v17/ipch/AutoPCH
/.vs/atlas-printf/v17/.wsuo
/.vs/atlas-printf/v17/Browse.VC.db
/.vs/atlas-printf/v17/Browse.VC.db-shm
/.vs/atlas-printf/v17/Browse.VC.db-wal
/.vs/atlas-printf/v17/Browse.VC.opendb
/.vs/atlas-printf/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json

*main.c
/.vs/atlas-printf/v17/Solution.VC.db
/.vs/atlas-printf/FileContentIndex/0d160c89-5dd3-4316-b950-25f744261290.vsidx
/.vs/atlas-printf/FileContentIndex/29d69c4f-2a08-4f88-a142-b4e41ef3b8cc.vsidx
/.vs/atlas-printf/v17/ipch/AutoPCH/3d63f6d63504b614/_PRINTF.ipch
/.vs/atlas-printf/v17/.wsuo
/.vs/atlas-printf/v17/Browse.VC.db
/.vs/atlas-printf/v17/DocumentLayout.json
/.vs/slnx.sqlite
